<h1>Listing districts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Valid votes</th>
      <th>Voivodship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.name %></td>
        <td><%= district.valid_votes %></td>
        <td><%= district.voivodship %></td>
        <td><%= link_to 'Show', district %></td>
        <td><%= link_to 'Edit', edit_district_path(district) %></td>
        <td><%= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District', new_district_path %>
